head
  meta(charset='UTF-8')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title a portal to another world
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  
  script(src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js")
  
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  link(href="css/styles.css" rel="stylesheet" type='text/css')
